on:
  pull_request:
    types: [labeled]

jobs:
  rc:
    if: github.event.label.name == 'publish'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          VERSION=$(cat VERSION)-dev-
          conan create . --version=$VERSION --remote conan-rc


name: Build RC packages

on:
  pull_request:
    types: [labeled]

jobs:
  rc:
    if: github.event.label.name == 'publish'
    uses: agim89/shared-workflows/.github/workflows/conan-package.yml@main
    with:
      version: 1.2.0-dev-
      remote: conan-rc
