name: Build & Publish RC Packages

on:
  pull_request:
    types: [labeled]

jobs:
  rc-build:
    if: github.event.label.name == 'publish'
    uses: agim89/shared-workflows/.github/workflows/conan-package.yml@main
    with:
      version: 1.2.0-dev-
      remote: conan-rc
      is_rc: true
    secrets: inherit

  consumer-verify:
    needs: rc-build
    if: github.event.label.name == 'publish'
    uses: agim89/shared-workflows/.github/workflows/consumer-verify.yml@main
    with:
      version: ${{ needs.rc-build.outputs.conan_version }}
      remote: conan-rc
    secrets: inherit
